
.DS_Store
build
.git
*.egg-info
dist
output/
data/crowdhuman-416x416
data/raw
backup
weights/*.weights
weights/*.conv.*
__pycache__
checkpoints/
baseline_checkpoints/
wandb/
.vscode/
logs/

.python-version
fake_test.py